@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao site das anedotas</h1>
    <p>Este site é para divertires um bocadinho e colocares as tuas anedotas.</p>
	<p><img src="~/imagens/trollface.png" /></p>
</div>
