@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A nossa Política de Privacidade protege as informações pessoais que você nos fornece</p>
<p>Respeitamos a sua privacidade.</p>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento.</p>

<p><img src="~/imagens/60.jpg" /></p>